
[data-tooltip] {
    cursor: default;
    position: relative;
        
    &::after {
        background-color: $black;
        border-radius: remCalc(20px);
        bottom: 125%;
        box-sizing: border-box;
        color: $white;
        content: attr(data-tooltip);
        font-size: remCalc(15px);
        left: calc(50% - remCalc(70px));
        opacity: 0;
        padding: remCalc(5px) remCalc(10px);
        position: absolute;
        text-align: center;
        transform: translateY(remCalc(10px));
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        visibility: hidden;
    }

    &:hover::after {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}
