.about-me {
    width: 100%;

    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: auto;
        max-width: remCalc(1100px);
        width: 100%;

        @include breakpoints(large) {
            flex-direction: row; 
        }

        &--start {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: 600px;
            padding: remCalc(10px 25px);
            width: 100%;
        }
        
        &--end {
            margin: 0 auto;
            max-width: 600px;
            padding: remCalc(10px 25px);
            width: 100%;

            @include breakpoints(large) {
                width: 60%;
            }
        }
    }


}
