#contact-svg {
    display: none;
    
    @include breakpoints("large") {  
        display: block;
    }
}

.contact {
    margin: remCalc(50px 0);
    width: 100%;

    @include breakpoints("large") {  
        background-color: $contact-me-background;
        margin-bottom: 0;
        margin-top: -5px;
        padding: remCalc(80px 0);
        padding-top: remCalc(40px);
    }

    &__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        @include breakpoints("large") {
            align-items: flex-start;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin: 0 auto;
            max-width: $content-max-width-large;
        }

        &-start {
            margin-top: remCalc(50px);
            padding: remCalc(40px 20px);

            @include breakpoints("large") {
                height: 100%;
                margin: auto;
                padding: 0;
                width: 100%;
            }
        }

        &-end {
            max-width: $content-max-width;
            padding: remCalc(0 25px);
            width: 100%;

            @include breakpoints("large") {
                max-width: 100%;
            }   
        }

    }

    &__title {
        color: $black;
        font-size: remCalc(40px);

        @include breakpoints("large") {
            color: $cons-white;
            font-size: remCalc(60px);
            text-align: center;
        }
    }

    &__social_networks {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;

        a {
            margin-right: remCalc(10px);
            width: remCalc(95px);
        }

        :last-child {
            margin-right: 0;
        }   
    }

    &__form {
        color: $black;
        display: flex;
        flex-direction: column;
        font-size: remCalc(14px);
        justify-content: center;
        width: 100%;

        @include breakpoints("large") {
            color: $cons-white;
            margin: 0 auto;
            max-width: remCalc(500px);
        }

        &-group {
            display: flex;
            flex-direction: column;
            margin-bottom: remCalc(10px);

            label {
                margin-bottom: remCalc(2px);
                margin-left: remCalc(6px);
            }

            input,
            textarea,
            button {
                border: 0;
                border-radius: remCalc(10px);
                padding: remCalc(8px 10px);
            }

            input,
            textarea {
                background-color: $input-background;
                border: remCalc(2px) solid $primary-color;
                border-top-width: remCalc(1px);
                color: $black;
                outline: 0;
                width: 100%;
            }

            textarea {
                $height: remCalc(100px);
                max-height: calc(#{$height} *2.4);
                min-height: $height;
                min-width: 100%;
                resize: vertical;
            }

            button {
                background-color: $primary-color;
                color: $cons-white;
                cursor: pointer;
                font-size: remCalc(14px);
                font-weight: bold;
                margin-top: remCalc(4px);
                outline: 0;
                padding: remCalc(8px 10px);
                transition: background-color 0.2s ease-in-out;
            }
        }
    }
}
