#wave-home {
    display: none;
    
    @include breakpoints("medium") {  
        display: block;
    }
}


.home {
    color: $black;
    height: 100vh;
    position: relative;
    width: 100%;

    @include breakpoints("medium") {
        background: $primary-color;
        color: $cons-white;
        height: remCalc(300px);
        margin-bottom: -3px;
        width: 100%;
    }

    &__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: remCalc(10px);
        height: 80%;
        justify-content: center;
        margin: auto;
        max-width: $content-max-width;

        @include breakpoints("medium") {
            height: 100%;
        }

        @include breakpoints("large") {
            max-width: 100%;
        }

        &--top {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: $content-max-width-large;
            
            @include breakpoints("medium") {
                flex-direction: row-reverse;
                justify-content: space-between;
                width: 90%;
            }

            @include breakpoints("large") {
                padding: 0 remCalc(25px);
                width: 100%;
            }
        }

        &--bottom {  
            @include breakpoints("medium") {
                display: none;
            }
        }
    }

    &__img {
        border: remCalc(4px) solid $primary-color;
        border-radius: 50%;
        margin-bottom: remCalc(5px);
        width: remCalc(150px);

        @include breakpoints("medium") {
            border: 0;
            margin-bottom: 0;
            width: remCalc(180px);
        }

        @include breakpoints("large") {
            width: remCalc(230px);
        }
    
        img {
            border-radius: 50%;
        }
    }

    &__text {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: remCalc(18px);
        width: 100%;
        
        @include breakpoints("medium") {
            align-items: flex-start;
            flex-direction: column-reverse;
            font-size: remCalc(20px);
        }

        @include breakpoints("large") {
            font-size: remCalc(24px);
        }
                

        &--subtitle {
            font-size: 1em;
        }

        &--title {
            align-items: center;
            display: flex;
            font-size: 2em;
            gap: remCalc(5px);

            ._simbol {
                color: $primary-color;
                font-size: 0.9em;
                font-weight: bold;
                letter-spacing: remCalc(-2px);

                @include breakpoints("medium") {
                    display: none;
                }
            }
        }
    }

    &__buttons {
        display: flex;
        gap: remCalc(10px);
        justify-content: center;
        width: 100%;
    }

    .goDownArrow {
        animation: mymove 1s infinite;
        bottom: remCalc(100px);
        left: calc(50% - remCalc(15px));
        position: absolute;
        width: remCalc(40px);

        @include breakpoints("medium") {
            display: none;
        }

        @keyframes mymove {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(remCalc(15px));
            }

            100% {
                transform: translateY(0);
            }
            
        }
    }
}
