.projects {
    &__title {
        color: $black;
        margin: 20px 0;
    }

    &__list {
        display: grid;
        grid-gap: remCalc(20px);
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    &__item {
        background: $card-background-color;
        border: remCalc(1px) solid $primary-color;
        border-radius: remCalc(15px);
        color: $black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: remCalc(20px 10px);
        padding-top: remCalc(10px);

        &-title {
            color: $black;
            font-size: 0.9rem;
            margin-bottom: remCalc(10px);
        }

        &-image {
            position: relative;
            width: 100%;

        }
        
        &-summary {
            overflow: hidden;
            padding: remCalc(10px 0);
        }

        &-buttons {
            display: flex;
            gap: remCalc(10px);
            margin-top: remCalc(10px);
            width: 100%;

            a {
                background: $primary-color;
                border-radius: remCalc(7px);
                color: $cons-white;
                font-weight: bold;
                padding: remCalc(5px 15px);
                text-decoration: none;
            }
        }
    }
}
