#skills {
    display: flex;
    flex-direction: column;
    gap: remCalc(10px);

    h2,
    ul {
        color: $black;
    }

    h2 {
        font-size: 1.7rem;
    }

    ul {
        flex-direction: column;
        font-size: 1rem;
        list-style: none;
        margin-top: 0.1rem;
        padding-left: remCalc(10px);
    }

    li {
        margin-bottom: 1rem;
        position: relative;
    }

    li::after {
        background-color: $black;
        content: "";
        height: remCalc(2px);
        left: remCalc(-10px);
        position: absolute;
        top: 50%;
        width: remCalc(5px);
    }
}
