:root {
    --primary-color: #5449f0;
    --primary-color-dark: #40399e;
    --secondary-color: #353535;

    --cons-white: #e3e3e3;
    --cons-black: #161616;
    
    --light-card-background: var(--cons-white);
    --light-background: #f1f1f1;
    --dark-background: #121118;
    --dark-card-background: #30343d;
}

body.theme {
    &-dark {
        --primary-color: var(--primary-color-dark);
        --background-color: var(--dark-background);
        --card-background-color: var(--dark-card-background);
        --white: var(--cons-black);
        --black: var(--cons-white);

        .react-loading-skeleton {
            --base-color: var(--card-background-color);
            --highlight-color: #4d535f;
        }
    }

    &-light {
        --background-color: var(--light-background);
        --card-background-color: var(--light-card-background);

        --white: var(--cons-white);
        --black: var(--cons-black);

        .react-loading-skeleton {
            --base-color: var(--card-background-color);
            --highlight-color: #f5f5f5;
        }
    }
}

$primary-color:  var(--primary-color);
$primary-color-dark:  var(--primary-color-dark);
$secondary-color: var(--secondary-color);
$background-color: var(--background-color);
$card-background-color: var(--card-background-color);

$white: var(--white);
$black: var(--black);

$cons-white: var(--cons-white);
$cons-black: var(--cons-black);

$content-max-width: remCalc(1100px);

$breakpoints: (
    "small": 320px,
    "medium": 481px,
    "large": 1024px,
    "xlarge": 1200px,
    "xxlarge": 1400px,
) !default;
