:root {
    --primary-color: #5449f0;
    --primary-color-dark: #40399e;
    --secondary-color: #353535;
    --third-color: #480991;

    --cons-white: #e3e3e3;
    --cons-black: #161616;
    
    --light-background: #f1f1f1;
    --dark-background: #121118;

    --card-background-color: var(--cons-white);
    --dark-card-background-color: #30343d;

    --input-background: var(--card-background-color);

    --contact-me-background: #2d2968;
    --contact-me-background-dark: #16181d;

}


[data-theme="dark"] {
    --primary-color: var(--primary-color-dark);
    --background-color: var(--dark-background);
    --card-background-color: var(--dark-card-background-color);
    --white: var(--cons-black);
    --black: var(--cons-white);
    --input-background: var(--card-background-color);
    --contact-me-background: var(--contact-me-background-dark);

    .react-loading-skeleton {
        --base-color: var(--card-background-color);
        --highlight-color: #4d535f;
    }
}

[data-theme="light"] {
    --background-color: var(--light-background);

    --white: var(--cons-white);
    --black: var(--cons-black);

    .react-loading-skeleton {
        --base-color: var(--card-background-color);
        --highlight-color: #f5f5f5;
    }
}

$primary-color:  var(--primary-color);
$primary-color-dark:  var(--primary-color-dark);
$secondary-color: var(--secondary-color);
$third-color: var(--third-color);

$background-color: var(--background-color);
$input-background: var(--input-background);
$card-background-color: var(--card-background-color);
$contact-me-background: var(--contact-me-background);

$white: var(--white);
$black: var(--black);

$cons-white: var(--cons-white);
$cons-black: var(--cons-black);

$content-max-width: remCalc(700px);
$content-max-width-large: remCalc(1200px);

$breakpoints: (
    "small": 320px,
    "medium": 481px,
    "large": 1024px,
    "xlarge": 1200px,
    "xxlarge": 1400px,
) !default;
